@model SmartWallet.Web.ViewModels.Categories.CategoryFormViewModel

<div class="mb-3">
    <label asp-for="Name" class="form-label"></label>

    <input asp-for="Name"
           class="form-control"
           placeholder="Ex: Alimentação" />

    <span asp-validation-for="Name"
          class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="TransactionType"
           class="form-label"></label>

    <select asp-for="TransactionType"
            asp-items="Model.TransactionTypes"
            class="form-select">

        <option value="">Selecione o tipo...</option>

    </select>

    <span asp-validation-for="TransactionType"
          class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="Description"
           class="form-label"></label>

    <textarea asp-for="Description"
              class="form-control"
              rows="3"></textarea>

    <span asp-validation-for="Description"
          class="text-danger"></span>
</div>

<div class="row">

    <div class="col-md-6">

        <label asp-for="Icon"
               class="form-label"></label>

        <input asp-for="Icon"
               class="form-control"
               placeholder="bi-cart" />

        <span asp-validation-for="Icon"
              class="text-danger"></span>

    </div>

    <div class="col-md-6">

        <label asp-for="Color"
               class="form-label"></label>

        <input asp-for="Color"
               class="form-control"
               placeholder="#198754" />

        <span asp-validation-for="Color"
              class="text-danger"></span>

    </div>

</div>